// Helper function to retrieve a color value from a nested map
@function get-color($color, $value) {
  @return map-get(map-get($colors, $color), $value);
}

// Helper function to either get the correspoding value from a map, or simply
// return the passed value back if it's not a key in the map
@function map-value-or-literal($map, $potential-key) {
  @if map-has-key($map, $potential-key) {
    @return map-get($map, $potential-key);
  } @else {
    @return $potential-key;
  }
}

// Perform exponentiation in the really dumb naive way. We don't do this very
// often, but it gets very verbose when we do. Obviously this is not a
// performant method to do this, and it only works for integer powers.
//
// @param num - the number to exponentiate
// @param exp - the power to which we raise $num
// @return number
@function pow($num, $exp) {
  @if $exp == 0 {
    @return 1;
  }

  @if $exp < 0 {
    $num: 1 / $num;
    $exp: -$exp;
  }

  $result: $num;

  @for $i from 1 to $exp {
    $result: $result * $num;
  }

  @return $result;
}

// Returns the value of $num clamped to the range $min <= $num <= $max.
//
// @param num - the number to clamp
// @param min - the maximum allowable value
// @param max - the minimum allowable value
// @return number
@function clamp($num, $min, $max) {
  @return min(max($num, $min), $max);
}

// Returns a Material Design-style value level of a color, i.e. a multiple of
// 100 in the range 100-900 inclusive.
//
// @param color $color
// @return number - the color's value level
@function color-level($color) {
  @return min(max(round((100 - lightness($color)/1%) / 10) * 100, 100), 900);
}

// Generates a map containing a full range of color value steps.
// - If one color is provided, that color is assigned to the closest value step
// and other colors are generated automatically.
// - If two colors are provided, both colors are assigned to their respective
// closest value step and the value steps between are interpolated. Value steps
// outside that range are generated automatically from the closest of the two
// colors.
//
// @requires color-level
// @param  color $color1
// @param  color $color2 [null]
// @return map - a map containing keys {100, 200, .., 900} and corresponding
//               color values
@function make-shades($color1, $color2: null) {
  $level1: color-level($color1);
  $shades: ();

  @if (type-of($color2) != color) {
    @for $i from 1 through 9 {
      @if $i*100 == $level1 {
        $shades: map-merge($shades, ($i*100: $color1));
      } @else {
        $shades: map-merge($shades, ($i*100: change-color($color1, $lightness: 100-($i*10))));
      }
    }

    // Add a named reference to the original color passed in, since we don't
    // know which level key it ended up at
    $shades: map-merge($shades, (original: $color1));
  } @else {
    $level2: color-level($color2);

    // We always want to work light-to-dark (100, 200, ..., 900)
    @if $level2 < $level1 {
      $tmp: $color1;
      $color1: $color2;
      $color2: $tmp;
      $tmp: $level1;
      $level1: $level2;
      $level2: $tmp;
    }

    @if $level1 > 100 {
      @for $i from 1 to $level1/100 {
        $shades: map-merge($shades, ($i*100: change-color($color1, $lightness: 100-($i*10))));
      }
    }
    $shades: map-merge($shades, ($level1: $color1));

    @for $i from $level1/100+1 to $level2/100 {
      $weight: 100% - (($i - $level1/100) / ($level2/100 - $level1/100))*100%;
      $shades: map-merge($shades, ($i*100: mix($color1, $color2, $weight)));
    }
    $shades: map-merge($shades, ($level2: $color2));

    @if $level2 < 900 {
      @for $i from $level2/100+1 through 9 {
        $shades: map-merge($shades, ($i*100: change-color($color2, $lightness: 100-($i*10))));
      }
    }
  }

  @return $shades;
}
