// This beautifully simple but extremely convenient little mixin is borrowed
// from Tim Knight (@timknight): https://link.medium.com/vAn1Ez4VJU
@mixin breakpoint($breakpoint-name) {
  $map: map-get($breakpoints, $breakpoint-name);
  $query: '';

  @if map-has-key($map, min) {
    $query: append($query, '(min-width: #{map-get($map, min)})');
  }

  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, 'and');
  }

  @if map-has-key($map, max) {
    $query: append($query, '(max-width: #{map-get($map, max)})');
  }

  @media screen and #{$query} { @content; }
}

// This mixin generates a font-face declaration for the specified font and
// weight/style combination, for both woff2 and woff formatted fonts.
// Supports all 'modern' browsers, i.e. since 2011 (but there's a bug in IE)
@mixin font-face($name, $filename, $weight: 400, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $name;
    font-style: $style;
    src:
      url('../fonts/#{$filename}.woff2') format('woff2'),
      url('../fonts/#{$filename}.woff') format('woff');
  }
}

@mixin rhythm-step($step, $margin: null) {
  @if ($margin) {
    margin-bottom: $margin * $rhythm-unit;
  }

  @each $breakpoint, $rhythm-scale-factor in $rhythm-scale-factors {
    @include breakpoint($breakpoint) {
      $font-size: $rhythm-base-font-size * pow($rhythm-scale-factor, $step);
      $line-height: ceil($font-size / $rhythm-unit) * $rhythm-unit;

      font-size: $font-size;
      line-height: $line-height;
    }
  }
}

@mixin browser-specific($browser-version) {
  @if ($browser-version == 'Safari 11+') {
    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        @content;
      }
    }
  }
}
