// -----------------------------------------------------------------------------
//   Breakpoints
// -----------------------------------------------------------------------------
$breakpoints: (
  mobile-sm: ( max: 374px ),
  mobile-lg: ( min: 375px ),
  tablet: ( min: 768px ),
  desktop: ( min: 1024px ),
);
$breakpoints: map-merge(
  $breakpoints,
  (
    mobile-lg-only: (
      min: map-get(map-get($breakpoints, mobile-lg), min),
      max: map-get(map-get($breakpoints, tablet), min) - 1,
    ),
    tablet-only: (
      min: map-get(map-get($breakpoints, tablet), min),
      max: map-get(map-get($breakpoints, desktop), min) - 1,
    ),
  )
);

// -----------------------------------------------------------------------------
//   Colors
// -----------------------------------------------------------------------------

$red: #bc7b7a !default;
$orange: #c5a56d !default;
$yellow: #bcb97a !default;
$green: #7abc7a !default;
$cyan: #7abcb7 !default;
$blue: #7a96bc !default;
$magenta: #7e6072 !default;

// Apply overrides
$red: if(variable-exists('hugo-color-red'), $hugo-color-red, $red);
$orange: if(variable-exists('hugo-color-orange'), $hugo-color-orange, $orange);
$yellow: if(variable-exists('hugo-color-yellow'), $hugo-color-yellow, $yellow);
$green: if(variable-exists('hugo-color-green'), $hugo-color-green, $green);
$cyan: if(variable-exists('hugo-color-cyan'), $hugo-color-cyan, $cyan);
$blue: if(variable-exists('hugo-color-blue'), $hugo-color-blue, $blue);
$magenta: if(variable-exists('hugo-color-magenta'), $hugo-color-magenta, $magenta);

$palette: (
  'theme-red': $red,
  'theme-orange': $orange,
  'theme-yellow': $yellow,
  'theme-green': $green,
  'theme-cyan': $cyan,
  'theme-blue': $blue,
  'theme-magenta': $magenta,
);

$primary: map-get($palette, 'theme-green') !default;
$accent: map-get($palette, 'theme-magenta') !default;
$light: #fefdfa !default;
$dark: #262b3b !default;

// Apply overrides (checking if the override is specifying a value from the
// theme color palette or is a literal color value
$primary: if(variable-exists('hugo-color-primary'), map-value-or-literal($palette, $hugo-color-primary), $primary);
$accent: if(variable-exists('hugo-color-accent'), map-value-or-literal($palette, $hugo-color-accent), $accent);
$light: if(variable-exists('hugo-color-light'), map-value-or-literal($palette, $hugo-color-light), $light);
$dark: if(variable-exists('hugo-color-dark'), map-value-or-literal($palette, $hugo-color-dark), $dark);

$colors: (
  'red': make-shades($red),
  'orange': make-shades($orange),
  'yellow': make-shades($yellow),
  'green': make-shades($green),
  'cyan': make-shades($cyan),
  'blue': make-shades($blue),
  'magenta': make-shades($magenta),
  'gray': make-shades($light, $dark),
  'primary': make-shades($primary),
  'accent': make-shades($accent),
);

$color-bg: get-color('gray', 100);
$color-body: get-color('gray', 700);
$color-logo-bg: get-color('primary', original) !default;
$color-logo-text: $color-bg !default;

// Apply overrides (checking if the override is specifying a value from the
// theme color palette or is a literal color value
$color-logo-bg: if(variable-exists('hugo-color-logo'), map-value-or-literal($palette, $hugo-color-logo), $color-logo-bg);
$color-logo-text: if(variable-exists('hugo-color-logo-text'), map-value-or-literal($palette, $hugo-color-logo-text), $color-logo-text);


// -----------------------------------------------------------------------------
//   Typefaces
// -----------------------------------------------------------------------------

// Global font families with reasonable, un-fancy fallbacks
$font-family-body: 'Open Sans', Helvetica, Verdana, sans-serif;
$font-family-headings: Raleway, 'Lucida Grande', Helvetica, sans-serif;
$font-family-mono: 'Source Code Pro', 'Fira Mono', monospace;
$font-family-special: $font-family-headings !default;

// Font weights
$font-weight-body-regular: 400;
$font-weight-body-bold: 600;
$font-weight-large-heading-regular: 200;
$font-weight-large-heading-bold: 300;
$font-weight-small-heading-regular: 300;
$font-weight-small-heading-bold: 400;
$font-weight-mono-regular: 400;
$font-weight-mono-bold: 600;
$font-weight-site-title: 100;


// -----------------------------------------------------------------------------
//   Rhythm
// -----------------------------------------------------------------------------
$rhythm-base-font-size: 1rem;
$rhythm-line-height: 1.5;
$rhythm-unit: $rhythm-base-font-size * $rhythm-line-height;
$rhythm-scale-factors: (
  mobile-sm: 1.25,
  mobile-lg: 1.25,
  tablet: 1.333,
  desktop: 1.4,
);

$max-line-length: 23 * $rhythm-unit;


// -----------------------------------------------------------------------------
//   Layout
// -----------------------------------------------------------------------------
$sticky-sidebar: true !default;

$grid-gap: $rhythm-unit;
$sidebar-width: 6 * $rhythm-unit;
$main-column-width: 1.5 * $max-line-length;


// -----------------------------------------------------------------------------
//   General Appearance
// -----------------------------------------------------------------------------
$border-radius: 0 !default;
$rounded-corners: true !default;

@if ($rounded-corners and $border-radius == 0) {
  $border-radius: 0.1rem;
}

$modern-kbd: true;

