<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode | default "en-us" }}'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

  <link rel="preload" as="font" href="/fonts/opensans-regular.woff2" crossorigin type="font/woff2">
  <link rel="preload" as="font" href="/fonts/raleway-extralight.woff2" crossorigin type="font/woff2">

  {{ $scss := resources.Get "styles/theme.scss" | resources.ExecuteAsTemplate "style.main.scss" . }}
  {{ $css := resources.ToCSS $scss }}
  {{ $stylesheet := resources.PostCSS $css }}
  <link rel="stylesheet" href="{{ $stylesheet.RelPermalink }}">

  <title>{{ if .Title }}{{ .Title}} | {{ end }}{{ .Site.Title }}</title>
</head>
<body class='{{ block "body-classes" . }}grid page-{{ urlize (.Slug | default .Name | default (trim .File.BaseFileName "_")) }}{{ end }}'>
  {{ block "header" . }}
    <header>
      <a href="/" class="logo-link">
        {{ partial "logo" . }}
      </a>
    </header>
  {{ end }}
  {{ block "navigation" . }}
    <nav>
      {{ partial "main_menu" . }}
    </nav>
  {{ end }}
  {{ block "main" . }}
    <main>
      {{ with .Title }}
        <h1>{{ . }}</h1>
      {{ end }}
      {{ .Content }}
    </main>
  {{ end }}
  {{ block "footer" . }}
    <footer>
      <p class="copyright">
        {{ with .Site.Copyright }}
          {{ . | safeHTML }}
        {{ else }}
          &copy;&VeryThinSpace;
          {{- range first 1 .Site.RegularPages }}{{ .Date.Format "2006" }}{{ end }}
          {{ with .Site.Author.name }}
            {{ . }}
          {{ else }}
            {{ .Site.Title }}
          {{ end }}
        {{ end }}

        {{ if not .Site.Params.disableCredits }}
          | Powered by <a href="https://gohugo.io">Hugo</a>, featuring the <a href="https://gitlab.com/brlodi/hugo-theme-stationery">Stationery theme</a>.
        {{ end }}
      </p>
    </footer>
  {{ end }}
</body>
</html>
