{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <article>
        {{ . }}
      </article>
      <hr>
    {{ end }}
    {{ range where .Pages ".Params.hidden" "!=" true }}
      {{ .Render "list-item" }}
    {{ end }}
  </main>
{{ end }}
