<section class="content-list-item">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  <p class="tagline">
    {{ if .Date }}
      {{ partial "date" . }} |
    {{ end }}
    {{ .ReadingTime }} minute read
  </p>
  {{ if .Summary }}
    <p>
      {{ .Summary }} <a href="{{ .RelPermalink }}" class="read-more">read&nbsp;more</a>
    </p>
  {{ end }}
</section>
