{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ if or .Date .ReadingTime }}
      <p class="tagline">
        {{ if .Date }} {{ partial "date" . }} {{ end }}
        {{ if and .Date .ReadingTime }}|{{ end }}
        {{ with .ReadingTime }} {{ . }} minute read {{ end }}
      </p>
    {{ end }}
    {{ .Content }}
  </main>
{{ end }}
