// sanitize.css (our reset of choice) sets word-break to avoid silly overflow
// behavior, but it doesn't play well with the CSS Grid specification ---
// specifically the min-content value is useless on text
html { word-break: normal; }

body {
  min-height: calc(100vh - #{2 * $rhythm-unit});
  margin: $rhythm-unit;
  color: $color-body;
  background-color: $color-bg;
  text-decoration-width: 1px;
  text-decoration-thickness: 1px;

  @include breakpoint(desktop) {
    min-height: calc(100vh - #{3 * $rhythm-unit});
    margin: 2 * $rhythm-unit;
    margin-bottom: $rhythm-unit;
  }
}

::selection {
  background-color: change-color($color: $accent, $alpha: 0.25);
}

// The "lobotomized owl selector", as named and popularized by Heydon Pickering
// in his CSS Day 2014 talk and subsequent blog write-up. This gives us a
// fallback margin, and more importantly sets up an axiom for considering
// margins as the space between two adjacent elements rather than a property of
// any given element.
// https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
// stylelint-disable-next-line selector-max-universal
* + * {
  margin: 0;
  margin-top: $rhythm-unit;
}

img,
object {
  width: 100%;
  max-width: $max-line-length;
}
