.grid {
  display: grid;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'footer';
  grid-template-rows: min-content min-content auto min-content;
  grid-template-columns: minmax(auto, $main-column-width);
  gap: $grid-gap;
  align-items: start;

  > main,
  > header,
  > nav,
  > footer {
    margin: 0;
  }

  > header { grid-area: header; }
  > nav { grid-area: nav; }
  > footer { grid-area: footer; }

  > main {
    grid-area: main;
    align-self: stretch;
  }

  @include breakpoint(tablet) {
    grid-template-areas:
      'header main  '
      'nav    main  '
      'footer footer';
    grid-template-rows: $sidebar-width auto min-content;
    grid-template-columns: $sidebar-width minmax(auto, $main-column-width);
    justify-items: stretch;
  }

  @include breakpoint(desktop) { gap: 2 * $grid-gap; }
}

// .grid.hero {
//   grid-template-areas:
//     '.'
//     'header'
//     'main'
//     'nav'
//     '.'
//     'footer';
//   grid-template-rows: 1fr repeat(3, min-content) 1fr min-content;

//   @include breakpoint(desktop) {
//     grid-template-areas:
//       '.      .     '
//       'header main  '
//       'nav    nav   '
//       '.      .     '
//       'footer footer';
//     grid-template-rows: 1fr auto min-content 1fr min-content;
//     grid-template-columns: 2 * $sidebar-width minmax(auto, $main-column-width);
//   }
// }
