html {
  font-size: 100%;

  @include breakpoint(tablet) {
    font-size: 18px / 16px * 100%;
  }

  @include breakpoint(desktop) {
    font-size: 20px / 16px * 100%;
  }
}

body {
  font-weight: $font-weight-body-regular;
  font-family: $font-family-body;

  b,
  strong {
    font-weight: $font-weight-body-bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-variant-numeric: lining-nums;
  font-family: $font-family-headings;
}

h1,
h2 {
  font-weight: $font-weight-large-heading-regular;

  b,
  strong {
    font-weight: $font-weight-large-heading-bold;
  }
}

h3,
h4 {
  font-weight: $font-weight-small-heading-regular;

  b,
  strong {
    font-weight: $font-weight-small-heading-bold;
  }
}

h5,
h6 {
  font-family: $font-family-body;
}

h1 { @include rhythm-step(4); }
h2 { @include rhythm-step(3); }
h3 { @include rhythm-step(2); }
h4 { @include rhythm-step(1); }

h5 {
  font-weight: $font-weight-body-bold;

  @include rhythm-step(0);

  // &::before {
  //   content: '> ';
  // }
}

h6 {
  // margin-left: 0.5 * $rhythm-unit;
  font-weight: $font-weight-body-regular;
  font-style: italic;
  text-decoration: underline;

  @include rhythm-step(0);

  em { font-style: normal; }
}

p {
  max-width: $max-line-length;
  margin: 0;

  @include rhythm-step(0);
}

pre,
kbd,
samp,
code {
  margin: 0;
  font-weight: $font-weight-mono-regular;
  font-family: $font-family-mono;
}

pre {
  overflow: scroll;
}

ol,
ul,
dl {
  max-width: $max-line-length;
}

li {
  margin-top: 0.25 * $rhythm-unit;
}

small,
sub,
sup {
  @include rhythm-step(-1);
}

sup,
sub {
  line-height: 0;
}

figcaption {
  max-width: $max-line-length;
  padding: 0 0.5*$rhythm-unit;
  color: get-color('accent', 700);
  font-weight: $font-weight-body-bold;

  &:not(:first-child) { margin-top: 0.25 * $rhythm-unit; }
  &:not(:last-child) { margin-bottom: 0.25 * $rhythm-unit; }

  > * { @include rhythm-step(-1); }
}

a {
  color: get-color('primary', 600);
}


.tagline {
  color: get-color('gray', 500);
}


* + p,
* + ol,
* + ul,
* + pre {
  margin-top: 0.5 * $rhythm-unit;
}

* + h1 { margin-top: 3 * $rhythm-unit; }
* + h2 { margin-top: 2 * $rhythm-unit; }

* + h3,
* + h4 {
  margin-top: 1.5 * $rhythm-unit;
}

* + h5,
* + h6 {
  margin-top: $rhythm-unit;
}

h1 + p {
  margin-top: $rhythm-unit;
}

h6 + p,
h6 + ol,
h6 + ul,
h6 + pre {
  margin-top: 0;
}

figure + p {
  margin-top: $rhythm-unit;
}
