blockquote {
  max-width: $max-line-length - $rhythm-unit;
  margin: 0.5 * $rhythm-unit;
  padding: 0 0.5 * $rhythm-unit;
  overflow-x: scroll;
  border-left: 1px double get-color('accent', 400);
}

.pull-quote {
  max-width: $max-line-length - 2 * $rhythm-unit;
  margin: $rhythm-unit;
  color: get-color('accent', 400);
  font-weight: $font-weight-small-heading-regular;
  font-family: $font-family-special;

  @include rhythm-step(1);

  &.left,
  &.right {
    max-width: $max-line-length / 2 - 2 * $rhythm-unit;
  }
  &.left { float: left; }
  &.right { float: right; }
}
