.callout-box {
  max-width: $max-line-length;
  margin: 0.5 * $rhythm-unit 0;
  padding: calc(0.5 * #{$rhythm-unit} - 2px) $rhythm-unit;
  color: get-color('accent', 700);
  background-color: get-color('accent', 100);
  border: 1px double get-color('accent', 400);
  border-right: none;
  border-left: none;
}
