.highlight {
  margin: 0.5 * $rhythm-unit;
  padding: 0 0.5 * $rhythm-unit;
  overflow-x: scroll;
  border-left: 1px double get-color('accent', 400);
}

.chroma {
  background: transparent;
  // Other
  .x { color: get-color('gray', 700); }
  // Error
  .err { color: get-color('red', 500); }
  // LineHighlight
  .hl {
    display: block;
    width: 100%;
    background-color: get-color('gray', 200);
  }
  // Keyword
  .k { color: get-color('magenta', 500); }
  // KeywordConstant
  .kc { color: get-color('magenta', 500); }
  // KeywordDeclaration
  .kd { color: get-color('magenta', 500); }
  // KeywordNamespace
  .kn { color: get-color('magenta', 500); }
  // KeywordPseudo
  .kp { color: get-color('magenta', 500); }
  // KeywordReserved
  .kr { color: get-color('magenta', 500); }
  // KeywordType
  .kt { color: get-color('red', 500); }
  // Name
  .n { color: get-color('blue', 500); }
  // NameAttribute
  .na { color: get-color('blue', 500); }
  // NameBuiltin
  .nb { color: get-color('blue', 500); }
  // NameBuiltinPseudo
  .bp { color: get-color('red', 500); }
  // NameClass
  .nc { color: get-color('blue', 500); }
  // NameConstant
  .no { color: get-color('orange', 500); }
  // NameDecorator
  .nd { color: get-color('orange', 500); }
  // NameEntity
  .ni { color: get-color('blue', 500); }
  // NameException
  .ne { color: get-color('blue', 500); }
  // NameFunction
  .nf { color: get-color('blue', 500); }
  // NameFunctionMagic
  .fm { color: get-color('blue', 500); }
  // NameLabel
  .nl { color: get-color('blue', 500); }
  // NameNamespace
  .nn { color: get-color('blue', 500); }
  // NameOther
  .nx { color: get-color('blue', 500); }
  // NameProperty
  .py { color: get-color('blue', 500); }
  // NameTag
  .nt { color: get-color('magenta', 500); }
  // NameVariable
  .nv { color: get-color('blue', 500); }
  // NameVariableClass
  .vc { color: get-color('blue', 500); }
  // NameVariableGlobal
  .vg { color: get-color('blue', 500); }
  // NameVariableInstance
  .vi { color: get-color('red', 500); }
  // NameVariableMagic
  .vm { color: get-color('blue', 500); }
  // Literal
  .l { color: get-color('green', 500); }
  // LiteralDate
  .ld { color: get-color('green', 500); }
  // LiteralString
  .s { color: get-color('green', 500); }
  // LiteralStringAffix
  .sa { color: get-color('green', 500); }
  // LiteralStringBacktick
  .sb { color: get-color('green', 500); }
  // LiteralStringChar
  .sc { color: get-color('green', 500); }
  // LiteralStringDelimiter
  .dl { color: get-color('green', 500); }
  // LiteralStringDoc
  .sd { color: get-color('green', 500); }
  // LiteralStringDouble
  .s2 { color: get-color('green', 500); }
  // LiteralStringEscape
  .se { color: get-color('green', 500); }
  // LiteralStringHeredoc
  .sh { color: get-color('green', 500); }
  // LiteralStringInterpol
  .si { color: get-color('orange', 500); }
  // LiteralStringOther
  .sx { color: get-color('green', 500); }
  // LiteralStringRegex
  .sr { color: get-color('cyan', 500); }
  // LiteralStringSingle
  .s1 { color: get-color('green', 500); }
  // LiteralStringSymbol
  .ss { color: get-color('orange', 500); }
  // LiteralNumber
  .m { color: get-color('orange', 500); }
  // LiteralNumberBin
  .mb { color: get-color('orange', 500); }
  // LiteralNumberFloat
  .mf { color: get-color('orange', 500); }
  // LiteralNumberHex
  .mh { color: get-color('orange', 500); }
  // LiteralNumberInteger
  .mi { color: get-color('orange', 500); }
  // LiteralNumberIntegerLong
  .il { color: get-color('orange', 500); }
  // LiteralNumberOct
  .mo { color: get-color('orange', 500); }
  // Operator
  .o { color: get-color('gray', 700); }
  // OperatorWord
  .ow { color: get-color('gray', 700); }
  // Punctuation
  .p { color: get-color('gray', 700); }
  // Comment
  .c { color: get-color('gray', 500); }
  // CommentHashbang
  .ch { color: get-color('gray', 500); }
  // CommentMultiline
  .cm { color: get-color('gray', 500); }
  // CommentSingle
  .c1 { color: get-color('gray', 500); }
  // CommentSpecial
  .cs { color: get-color('gray', 500); }
  // CommentPreproc
  .cp { color: get-color('orange', 500); }
  // CommentPreprocFile
  .cpf { color: get-color('green', 500); }
  // Generic
  .g { color: get-color('gray', 700); }
  // GenericDeleted
  .gd { color: get-color('red', 500); }
  // GenericEmph
  .ge {
    color: get-color('gray', 700);
    font-style: italic;
  }
  // GenericError
  .gr { color: get-color('gray', 700); }
  // GenericHeading
  .gh { color: get-color('blue', 500); }
  // GenericInserted
  .gi { color: get-color('green', 500); }
  // GenericOutput
  .go { color: get-color('gray', 700); }
  // GenericPrompt
  .gp { color: get-color('gray', 700); }
  // GenericStrong
  .gs {
    color: get-color('gray', 700);
    font-weight: $font-weight-mono-bold;
  }
  // GenericSubheading
  .gu { color: get-color('blue', 500); }
  // GenericTraceback
  .gt { color: get-color('gray', 700); }
  // GenericUnderline
  .gl {
    color: get-color('gray', 700);
    text-decoration: underline;
  }
  // TextWhitespace
  .w {
    color: get-color('gray', 800);
    text-decoration: underline;
  }
}
