.content-list-item {
  position: relative;

  h1 { @extend h4; }
  h2 { @extend h5; }

  & + & { margin-top: 2 * $rhythm-unit; }

  h1 + .tagline { margin-top: 0.5 * $rhythm-unit; }

  .read-more {
    &::after {
      display: inline-block;
      width: 0.33 * $rhythm-unit;
      height: 0.33 * $rhythm-unit;
      margin-left: 0.2em;
      vertical-align: middle;
      background-color: currentColor;
      mask-image: svg-load('images/arrow.svg');
      content: '';
    }
  }
}
