hr {
  position: relative;
  max-width: $max-line-length;
  height: $rhythm-unit;
  margin: 0.5 * $rhythm-unit 0;
  border: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    mask-image:
      linear-gradient(
        to right,
        transparent,
        #000000 25%,
        #000000 calc(50% - #{$rhythm-unit}),
        transparent calc(50% - #{$rhythm-unit}),
        transparent calc(50% + #{$rhythm-unit}),
        #000000 calc(50% + #{$rhythm-unit}),
        #000000 75%,
        transparent
      );
    content: '';
  }

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 2 * $rhythm-unit;
    height: $rhythm-unit;
    background: currentColor;
    mask-image: svg-load('images/hr.svg');
    mask-size: contain;
    mask-position: center;
    transform: translate(-50%, 0);
    content: '';
  }
}
