kbd > kbd,
.key-input {
  display: inline-block;
  padding: 0 0.25em;
  border-radius: $border-radius;

  @if ($modern-kbd) {
    $depth: 0.075em;

    margin-right: 2 * $depth;
    background-color: get-color('gray', 200);
    box-shadow: get-color('gray', 300) $depth $depth 0 (0.75 * $depth);
  } @else {
    margin-right: 1px;
    margin-left: 1px;
    box-shadow: currentColor 0 0 0 1px;
  }
}
