body > header {
  text-align: center;

  @if ($sticky-sidebar) {
    @include breakpoint(tablet) {
      position: sticky;
      top: $rhythm-unit;
    }

    @include breakpoint(desktop) {
      top: 2 * $rhythm-unit;
    }
  }
}

.logo-link {
  text-decoration: none;
}

.logo {
  width: 100%;
  max-width: $sidebar-width;
  border-radius: 50%;
  user-select: none;

  @include breakpoint(mobile-sm) { max-width: 5 * $rhythm-unit; }

  .monogram-background { fill: $color-logo-bg; }

  .monogram-text {
    fill: $color-logo-text;
  }
}

.site-title {
  max-width: initial;
  margin: 0;
  font-weight: $font-weight-large-heading-regular;
  font-family: $font-family-headings;

  @include rhythm-step(4);
}

.logo + .site-title {
  margin-top: 0.5 * $rhythm-unit;
  // margin-bottom: 0.5 * $rhythm-unit;
}
