main {
  overflow-x: hidden;
}

// Align the page title with middle of the sidebar logo, and push down content
// to start in line with the navigation
main > h1:nth-child(1) {
  @include breakpoint(tablet) {
    margin-top: 1.5 * $rhythm-unit;
  }
}
