body > nav {
  text-align: right;

  @if ($sticky-sidebar) {
    @include breakpoint(tablet) {
      position: sticky;
      top: $rhythm-unit + $sidebar-width + $grid-gap;
    }

    @include breakpoint(desktop) {
      top: 2 * $rhythm-unit + $sidebar-width + 2 * $grid-gap;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include breakpoint(tablet) {
    flex-direction: column;
    padding: 0 0.5 * $rhythm-unit;
  }

  li {
    position: relative;
    margin: 0;
  }

  * + li {
    margin-left: 0.5 * $rhythm-unit;

    &::before {
      position: absolute;
      top: 0.125 * $rhythm-unit;
      left: -0.25 * $rhythm-unit;
      width: 1px;
      height: 0.75 * $rhythm-unit;
      background: get-color('gray', 400);
      content: '';
    }

    @include breakpoint(tablet) {
      margin-top: 0.25 * $rhythm-unit;
      margin-left: 0;

      &::before { content: none; }
    }
  }

  a { text-decoration: none; }
  a:hover { text-decoration: underline; }

  .active {
    text-decoration: underline;

    @include breakpoint(tablet) {
      text-decoration: none;

      &::before {
        position: relative;
        top: -0.1em;
        display: inline-block;
        width: 0.33 * $rhythm-unit;
        height: 0.33 * $rhythm-unit;
        vertical-align: middle;
        background-color: currentColor;
        mask-image: svg-load('images/arrow.svg');
        content: '';
      }
    }
  }
}

.sub-menu {
  display: none;

  @include breakpoint(tablet) { display: initial; }

  li { @include rhythm-step(-1); }

  li + li { margin-top: 0; }

  a { color: $color-body; } // stylelint-disable-line no-descending-specificity
}
