<ul class="menu">
  {{ $currentPage := . }}
  {{ range .Site.Menus.main }}
    {{ $isSubResource := in $currentPage.RelPermalink .URL }}
    {{ $isMenu := $currentPage.IsMenuCurrent "main" . }}
    {{ $hasMenu := $currentPage.HasMenuCurrent "main" . }}
    
    {{ $highlight := or $isMenu $hasMenu $isSubResource }}
    {{ $expand := and .HasChildren $highlight }}

    <li class='{{ if $highlight }}active{{ end }}'>
      <a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
    </li>
    {{ if $expand }}
      <ul class="sub-menu">
        {{ range .Children }}
        <li>
          <a href="{{ .URL }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
        </li>
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
</ul>
