.page-home {
  grid-template-areas:
    '.'
    'header'
    'main'
    'nav'
    '.';
  grid-template-rows: 1fr auto auto auto 1fr;
  grid-template-columns: auto;
  min-height: 100vh;
  margin-top: 0;
  margin-bottom: 0;

  @include browser-specific('Safari 11+') {
    // stylelint-disable-next-line value-no-vendor-prefix
    min-height: -webkit-fill-available;
  }

  > header,
  > nav {
    position: static;
  }

  > main {
    text-align: center;

    p {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .menu {
    @include breakpoint(tablet) {
      flex-direction: initial;

      * + li {
        margin: 0;
        margin-left: 0.5 * $rhythm-unit;

        &::before { content: ''; }
      }
    }
  }
}
