{{ define "body-classes" }}grid page-home{{ end }}

{{ define "header" }}
  <header>
    {{ partial "logo" . }}
    <p class="site-title">{{ .Site.Title }}</p>
  </header>
{{ end }}

{{ define "main" }}
  <main>
    {{ .Content }}
  </main>
{{ end }}

{{ define "footer" }}
  {{ "" }} {{/* Dummy statement to force render of empty block  */}}
{{ end }}
