{{ define "main" }}
  <main>
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <article>
        {{ . }}
      </article>
      <hr>
    {{ end }}
    {{ range (index .Site.Taxonomies (.Slug | default .File.BaseFileName)) }}
      {{ $words := 0 }}
      {{ $time := 0 }}
      {{ range .Pages }}
        {{ $words = add $words .WordCount }}
        {{ $time = add $time .ReadingTime }}
      {{ end }}
      <section class="content-list-item">
        <h1>
          <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        </h1>
        <p class="tagline">
          {{ len .Pages }} posts |
          {{ $words }} words |
          about a {{ if le $time 120 }}{{$time}} minute{{ else }}{{ math.Round (div $time 60.0) }} hour{{ end }} read
        </p>
        {{ with .Page.Content }}
          <p>{{ . }}</p>
        {{ end }}
      </section>
    {{ end }}
  </main>
{{ end }}
